{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Pages App {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}" />
  </head>
  <body>
    <header class="container header">
      <div><h2>Header of the application</h2></div>
    </header>
    <main class="container content">
      {% block content %} No Content Provided {% endblock %}
    </main>
    <footer class="container footer">
      <div><h2>Footer of the application</h2></div>
    </footer>

    <script src="{% static 'pages/js/home.js' %}"></script>
  </body>
</html>
