{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Pages App {% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" href="{% static 'pages/css/base.css' %}" />
    {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'pages/_header.html' %}

    <main class="container content" id="main">
      <div>{% block content %} No Content Provided {% endblock %}</div>
      <section class="jq_container">
        <h3 id="title"></h3>
        <p id="content">
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et,
            cupiditate?</span
          >
          100 start Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Unde accusantium sunt animi suscipit quod totam beatae vero veniam.
          Laboriosam sint voluptates quia quod incidunt voluptatibus veritatis
          maiores sed magni nemo, accusamus tenetur libero est delectus repellat
          aspernatur optio repellendus labore. Perspiciatis dolores debitis
          atque accusantium laboriosam porro qui, sed labore nobis minus
          distinctio culpa minima dolor recusandae cum libero reprehenderit!
          Velit repellat molestiae odio consectetur pariatur illum ratione
          ducimus enim perspiciatis ex sit, in similique tenetur, sint suscipit
          obcaecati, tempora sunt quasi corporis nihil fugit mollitia! Cum velit
          distinctio reprehenderit sed dolorum, impedit, sit expedita illo porro
          tempora rem aut. 100 end
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et,
            cupiditate?</span
          >
        </p>
        <button id="rm_btn">Remove New Appended Content</button>
      </section>
    </main>

    {% include 'pages/_footer.html' %}

    <script src="{% static 'pages/js/base.js' %}"></script>
  </body>
</html>
