* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.title {
  padding: 16px 0px;
}

.content {
  padding: 16px;
  background-color: palegoldenrod;
  border-radius: 16px;
}

.header,
.footer {
  background-color: aquamarine;
  padding: 20px 0px;
}
