{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base Html</title>
    <link rel="stylesheet" href="{% static 'css/_base.css' %}" />

    {% block page_css %}{% endblock %}
  </head>
  <body>
    <header class="container header">
      <h2>this is header component</h2>
    </header>
    <main class="container main">{% block content %} {% endblock %}</main>
    <footer class="container footer">
      <h2>this is footer component</h2>
    </footer>
  </body>
</html>
